<!---
<fusedoc fuse="FBX_Circuits.cfm">
	<responsibilities>
		I define the Circuits structure used with Fusebox 3.0
	</responsibilities>	
	<io>
		<out>
			<string name="fusebox.circuits.*" comments="set a variable for each circuit name" />
		</out>
	</io>
</fusedoc>
--->
<cfset fusebox.circuits=StructNew()>
<cfset fusebox.circuits.home="home">